on:
  push:
    branches:
    - 'main'

env:
  PROJECT_ID: ${{ secrets.GCP }}
  GCE_INSTANCE: john-peel  # TODO: update to instance name
  GCE_INSTANCE_ZONE: europe-north1-a   # TODO: update to instance zone

jobs:
  cloudssh:
    name: Cloud ssh
    runs-on: ubuntu-latest


  permissions:
    contents: 'read'
    id-token: 'write'

  steps:
  - name: Checkout
    uses: 'actions/checkout@v2'

  - id: 'compute-ssh'
    uses: 'google-github-actions/ssh-compute@v0'
    with:
      instance_name: $GCE_INSTANCE
      zone: $GCE_INSTANCE_ZONE
      ssh_private_key: '${{ secrets.PRIVATE_SSH }}'
      command: 'echo Hello world'

  # Example of using the output
  - id: 'test'
    run: |-
      echo '${{ steps.compute-ssh.outputs.stdout }}'
      echo '${{ steps.compute-ssh.outputs.stderr }}'